<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-head-sub"><a class="back-to" href="html/components.html"><em
                    class="icon ni ni-arrow-left"></em><span>Components</span></a></div>


        <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content d-flex justify-content-between">
                    <div>
                        <h4 class="nk-block-title">Listing des caisses</h4>
                        <p>Le tableau suivant listes <strong class="text-primary">les caisses et ses differentes
                                operations</strong>.</p>
                    </div>
                    <div class="d-flex flex-row-reverse justify-content-between">
                        <a class="btn btn-l btn-primary " data-bs-toggle="modal" data-bs-target="#modalForm">
                            <em class="icon ni ni-grid-add-c"></em>
                            <div>Ajouter</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card card-bordered card-preview">

                <table class="table table-tranx card-inner">
                    <thead>
                        <tr class="tb-tnx-head">
                            <th class="tb-tnx-id"><span class="">#</span></th>
                            <th class="tb-tnx-info">
                                <span class="tb-tnx-desc d-none d-sm-inline-block">
                                    <span>Name</span>
                                </span>

                                <span class="tb-tnx-date d-md-inline-block d-none">
                                    <span class="d-md-none">Date</span>
                                    <span class="d-none d-md-block">
                                        <span>Description</span>
                                    </span>
                                </span>
                            </th>
                            <th class="">
                                <div class="form-group ">
                                    <div class="form-control-wrap">
                                        <select class="form-select"    [(ngModel)]="pageSize">
                                            <option value=5><span> 05 Items</span>
                                            </option>
                                            <option value=10><span> 10 Items</span>
                                            </option>
                                            <option value=15><span> 15 Items</span>
                                            </option>
                                            <option value=20><span> 20 Items</span>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let caisse of data | paginate: { itemsPerPage: pageSize, currentPage: p } ; let i=index "
                            class="tb-tnx-item">
                            <td class="tb-tnx-id">
                                <a href="#"><span>{{i+1}}</span></a>
                            </td>
                            <td class="tb-tnx-info">
                                <div class="tb-tnx-desc">
                                    <span class="title">{{caisse?.name}}</span>
                                </div>
                                <div class="tb-tnx-date">
                                    <span class="title">{{caisse?.description}}</span>
                                </div>
                            </td>
                            <td class="tb-tnx-action">
                                <div class="dropdown">
                                    <a class="text-soft dropdown-toggle btn btn-icon btn-trigger"
                                        data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                        <ul class="link-list-plain">
                                            <li data-bs-toggle="modal" data-bs-target="#modalForm"><a
                                                    (click)="readOneCaisse(caisse)"><em class="icon ni ni-eye"></em>
                                                    View</a></li>
                                            <li data-bs-toggle="modal" data-bs-target="#modalForm"><a
                                                    (click)="editCaisse(caisse)"><em
                                                        class="icon ni ni-pen2"></em>Edit</a></li>
                                            <li><a (click)="deleteCaisse(caisse)"><em
                                                        class="icon ni ni-trash"></em>Remove</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- .card-preview -->
            <div class="pagination-container pagination">
                <li> <pagination-controls [directionLinks]="true" (pageChange)="p = $event"
                        class="bg-primary"></pagination-controls></li>
            </div>
        </div>

    </div>
</div>
<!-- Caisse Modal -->
<div class="modal fade" id="modalForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Caisse</h5>
                <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" class="form-validate is-alter">
                    <div class="form-group">
                        <label class="form-label" for="nom">Nom de la caisse</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" formControlName="nom" id="nom" required
                                [attr.disabled]="isDisabled? isDisabled: null">
                            <!-- <input type="text" class="form-control" formControlName="nom" id="nom" *ngIf="caisse?.id" value={{caisse?.nom}} required> -->
                            <span *ngIf="(submitted || form.controls.nom.touched) && form.controls.nom.errors "
                                style="color: rgb(255, 75, 75);">
                                Le nom de la caisse est requis
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="description">Description de la caisse</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" formControlName="description" id="description"
                                [attr.disabled]="isDisabled? isDisabled: null">
                            <span
                                *ngIf="(submitted || form.controls.description.touched) && form.controls.description.errors "
                                style="color: rgb(255, 75, 75);">
                                La description est requise
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary" (click)="save()"
                            [attr.disabled]="isDisabled? isDisabled: null">
                            Sauvegarder
                            <div *ngIf="isLoading" class="d-flex justify-content-center">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
                                </span>
                            </div>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-light">
                <span class="sub-text">Ajouter une caisse</span>
            </div>
        </div>
    </div>
</div><!-- Caisse Modal -->