<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-head-sub"><a class="back-to" href="html/components.html"><em
                    class="icon ni ni-arrow-left"></em><span>Components</span></a></div>


        <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content d-flex justify-content-between">
                    <div>
                        <h4 class="nk-block-title">Listing des caisses</h4>
                        <p>Le tableau suivant listes <strong class="text-primary">les caisses et ses differentes
                                operations</strong>.</p>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <a class="btn btn-l btn-primary" data-bs-toggle="modal" data-bs-target="#modalForm">
                            Ajouter
                        </a>
                    </div>
                </div>
            </div>

            <div class="card card-bordered card-preview">
                <div class="card-inner">
                    <table class="datatable-init table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="data-target">
                                <td class="data-bs-target"> {{ i+1 }} </td>
                                <td class="data-bs-target"> f</td>
                                <td class="data-bs-target">d </td>
                                <td class="tb-tnx-action">
                                    <div class="dropdown">
                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em
                                                class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                            <ul class="link-list-plain">
                                                <li><a (click)="readOneCaisse(caisse)">View</a></li>
                                                <li data-bs-toggle="modal" data-bs-target="#modalForm"><a (click)="editCaisse(caisse)">Edit</a></li>
                                                <li><a (click)="deleteCaisse(caisse)">Remove </a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>           
                        </tbody>
                    </table>
            </div><!-- .card-preview -->
        </div> 

    </div>
</div>
<!-- Caisse Modal -->
<div class="modal fade" id="modalForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Caisse</h5>
                <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" class="form-validate is-alter">
                    <div class="form-group">
                        <label class="form-label" for="nom">Nom de la caisse</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" formControlName="nom" id="nom" required>
                            <!-- <input type="text" class="form-control" formControlName="nom" id="nom" *ngIf="caisse?.id" value={{caisse?.nom}} required> -->
                            <span *ngIf="(submitted || form.controls.nom.touched) && form.controls.nom.errors "
                                style="color: rgb(255, 75, 75);">
                                Le nom de la caisse est requis
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="description">Description de la caisse</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" formControlName="description" id="description">
                            <span
                                *ngIf="(submitted || form.controls.description.touched) && form.controls.description.errors "
                                style="color: rgb(255, 75, 75);">
                                La description est requise
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary" (click)="save()">
                            Sauvegarder
                            <div *ngIf="isLoading" class="d-flex justify-content-center">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
                                </span>
                            </div>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-light">
                <span class="sub-text">Ajouter une caisse</span>
            </div>
        </div>
    </div>
</div><!-- Caisse Modal -->